* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}


/* header */
    header {
        background-color: #cf7d9f;
        height: 80px;
        display: flex;
        align-items: center;
    }

    header span.title {
        width: 100%;
        color: #f5f5dc;
        font-size: 40px;
        text-transform: uppercase;
        text-align: center;
        /* font-weight: bolder; */
    }
/* header */


/* classe main */
    .main {
        width: 100%;
        display: flex;
    }

    

    /* section */
        .main section.vertical-border {
            width: 20px;
            background-color: #cf7d9f;
        }

        main section.horizontal-border {
            height: 20px;
            background-color: #cf7d9f;
        }
    /* section */

    /* main */
        main {
            width: 100%;
        }

        main .head {
            width: 100%;
            height: 40px;
            display: flex;
            font-weight: bolder;
            text-transform: uppercase;
            text-align: center;
            justify-content: center;
        }

        main .row {
            display: flex;
            height: 90px;
        }

        main .row div,
        main .head div {
            display: flex;
            border: 1px solid #cf7d9f;
            width: 100%;
            align-items: center;
            justify-content: center;
        }

        main .row .time,
        main .head .time {
           display: flex;
           flex-direction: column;
           text-align: center;
        }

        
    /* main */

/*classe main */